name: CI

on:
  push:
    branches:
      - "**"
    tags-ignore:
      - "v*"

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Setup Bun
        uses: oven-sh/setup-bun@v1
        with:
          bun-version: latest

      - name: Install dependencies
        run: bun install

      - name: Install chromium
        run: bun playwright install chromium

      - name: Install Xvfb
        run: sudo apt-get update && sudo apt-get install -y xvfb

      - name: Run tests
        run: xvfb-run --auto-servernum --server-args="-screen 0 1280x960x24" bun run test

      - name: Build
        run: bun wxt build -b firefox && bun wxt build -b chrome && bun wxt build -b edge
